.display-7 {
	font-size: 1.25vw;;
}

.display-8 {
	font-size: 0.85vw;
}


.scrollbar
{
	height : 89vh;
	overflow-y: scroll;
}

.scrollbar2
{
	height : 53vh;
	overflow-y: scroll;
}


#basic_info::-webkit-scrollbar-track
{
}

#basic_info::-webkit-scrollbar
{
	width: 3px;
}

#basic_info::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #ADAEB3;
}




#order_details::-webkit-scrollbar-track
{
}

#order_details::-webkit-scrollbar
{
	width: 3px;
}

#order_details::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #ADAEB3;
}




#style-3::-webkit-scrollbar-track
{
}

#style-3::-webkit-scrollbar
{
	width: 3px;
}

#style-3::-webkit-scrollbar-thumb
{
	border-radius: 20px;
	background-color: #ADAEB3;
}



.profile-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

