		body {
    font-family: Arial, sans-serif;
    margin-top " 10%;
    height: 100vh;
    background: #f3f3f3;
}
        .main-content {
            width: 100%;
            padding: 25px;
            border-radius: 20px;
            text-align: center;
            position: relative;
        }
        .search-container {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin-bottom: 20px;
        }
        
        .details-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }
        .card {
            flex: 1;
            min-width: 300px;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
            text-align: left;
            transition: transform 0.3s;
        }
        .card:hover {
            transform: scale(1.05);
        }
		h4 {
            color: #3bb2b8;
        }
        @media (max-width: 768px) {
            .details-container {
                flex-direction: column;
                align-items: center;
            }
        }
		
.scrollbar
{
	height : 35vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

#ordersSection::-webkit-scrollbar-track
{
}

#ordersSection::-webkit-scrollbar
{
	width: 6px;
}

#ordersSection::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #000000;
}