/* General Styles */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f3f3;
}

/* Main Container */
.container {
    display: flex;
    width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Left - Form Section */
.form-container {
    flex: 1;
    padding: 40px;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

.form-container p {
    color: #666;
    font-size: 14px;
    margin-bottom: 20px;
}

.form-container input {
    width: 50px; /* Increased input width */
    height: 55px; /* Increased input height */
    font-size: 24px;
    text-align: center;
	margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.send-otp {
    width: 50%;  /* Reduce width */
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 10px auto;  /* Center the button */
    text-align: center;
}

.send-otp:hover {
    background: #0056b3;
}


/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 95%;
    }
	.form-container {
		flex: 1;
		padding: 40px 5px;
		text-align: center;
	}
	.form-container input {
		width: 11%; /* Increased input width */
		height: 55px; /* Increased input height */
		font-size: 24px;
		text-align: center;
		margin: 5px;
		border: 1px solid #ccc;
		border-radius: 5px;
	}
}
